.sobre {
  background: url(/img/bg.jpg) no-repeat center;
  background-size: cover;
}

.sobre-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 0;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.5rem;
}

.sobre-container img {
  border-radius: 0.5rem;
  backdrop-filter: blur(8px);
}

.sobre-conteudo {
  backdrop-filter: blur(10px);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.sobre-conteudo .subtitulo {
  font-size: 4rem;
  line-height: 1.125;
  padding: 0;
}

.sobre-conteudo p {
  font-size: 1.5rem;
  margin-top: 3rem;
}
